/*------------------------------------*\
 * - 1. Global base settings
 * - 2. Object wrappers
 * - 3. Text helpers
 * - 4. CSS3 drawing
 * - 5. Keyframe animations


  1. BASE-SETTINGS
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Megrim", cursive;
  text-align: center;
  font-size: 5em;
}

h2 {
  font-family: "Megrim", cursive;
  text-align: center;
  font-size: 2em;
}

ul {
  list-style-type: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

/*------------------------------------*\
  2. OBJECT WRAPPERS
\*------------------------------------*/

.wrapper {
  max-width: 900px;
  padding: 0 20%;
  margin: 0 auto;
}

#landing {
  height: 100vh;
}

#result {
  height: 100vh;
}

.quiz {
  height: 100vh;
  padding-top: 4em;
  font-size: 1.5em;
}

.links {
  width: 22em;
  margin: 0 auto;
}

footer {
  background-color: #2a9d8d;
  padding: 6em 0;
  margin-top: 3em;
}

/*------------------------------------*\
  3. TEXT HELPERS
\*------------------------------------*/

#q1,
#q2,
#q3,
.quiz,
#result {
  display: none;
}

#q1,
#q2,
#q3 {
  padding-bottom: 4em;
}

.description {
  padding-top: 2em;
  text-align: center;
}

ul {
  padding-top: 1em;
}

li {
  background-color: white;
  padding: 0.5em 0;
}

li:hover .highlight {
  background-color: #f2ce76;
  transition: background-color 0.5s ease-in;
}

#title {
  padding-top: 1em;
  color: #2a9d8d;
}

#miles,
#elevation {
  display: inline-block;
  padding: 2em 0;
}

#miles {
  margin-left: 5em;
}

#elevation {
  float: right;
  margin-right: 5em;
}

.button {
  display: inline-block;
  border: 3px solid #2a9d8d;
  font-size: 1em;
  padding: 1em 0;
  width: 10em;
  text-align: center;
  background-color: white;
  transition: background-color 0.5s ease-in;
}

.button:hover {
  background-color: #7dc1b8;
  transition: background-color 0.5s ease-in;
}

.icon {
  height: 100px;
  padding-bottom: 1em;
}

.blank {
  display: inline-block;
  width: 11em;
  border-bottom: 2px solid #264653;
  text-align: center;
  color: #2a9d8d;
}

#pass {
  text-align: center;
  padding-bottom: 2em;
}

#start {
  width: 0;
  height: 0;
  position: relative;
  margin: 0 auto;
  margin-top: 4em;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 35px solid #264653;
  transition: transform 0.5s ease-in;
  transform: scale(0.9);
}

#start:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}

footer a {
  display: block;
}

footer a:hover {
  color: #264653;
}

/*------------------------------------*\
  4. CSS3 DRAWING
\*------------------------------------*/

.location-circle {
  width: 170px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 178px;
  border-radius: 50%;
  background-color: #2a9d8f;
  top: 50px;
}

.sun-flare {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  top: 45px;
  position: relative;
  background: #e76f51;
  animation: flare-color 1.5s alternate-reverse infinite 0.5s ease-in-out;
}

.sun-ray {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  top: 8px;
  position: relative;
  background-color: #f4a261;
  animation: ray-color 2s alternate-reverse infinite 1s ease-in-out;
}

.sun {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  top: 7px;
  position: relative;
  background-color: #f2ce76;
  animation: sun-color 2s alternate-reverse infinite 1s ease-in-out;
}

.location-triangle {
  width: 1px;
  height: 1px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  top: 5px;
  border-width: 110px 73px 0 74px;
  border-color: #2a9d8f transparent transparent transparent;
}

.mountain {
  width: 1px;
  height: 1px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 49px 32px 0 33px;
  top: -44px;
  border-color: #b3b3b3 transparent transparent transparent;
  z-index: 2;
}

.mountain:after {
  content: "";
  position: absolute;
  top: -95px;
  left: -32px;
  border-style: solid;
  border-width: 0 33px 46px 32px;
  border-color: transparent transparent #b3b3b3 transparent;
}

.peak {
  position: relative;
  top: -95px;
  left: -17px;
  border-style: solid;
  border-width: 0 18px 25px 17px;
  border-color: transparent transparent white transparent;
  z-index: 2;
}

.shadow {
  position: relative;
  top: -124px;
  left: 6px;
  border-style: solid;
  border-width: 0 1px 53px 20px;
  transform: rotate(-56deg);
  border-color: transparent transparent #264653 transparent;
}

/*------------------------------------*\
  5. KEYFRAME ANIMATIONS
\*------------------------------------*/

@keyframes sun-color {
  from {
    background: #f2ce76;
  }
  to {
    background: #e9d56a;
  }
}
@keyframes ray-color {
  from {
    background: #f4a261;
  }
  to {
    background: #f4af61;
  }
}
@keyframes flare-color {
  from {
    background: #e76f51;
    transform: scale(1);
  }
  to {
    background: #e2774d;
    transform: scale(1.2);
  }
}
